<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RenameAllocateViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <RenameAllocateViewer.Properties.Settings>
            <setting name="StoreDir1" serializeAs="String">
                <value />
            </setting>
            <setting name="StoreDir2" serializeAs="String">
                <value />
            </setting>
            <setting name="StoreDir3" serializeAs="String">
                <value />
            </setting>
            <setting name="StoreDir4" serializeAs="String">
                <value />
            </setting>
            <setting name="StoreDir5" serializeAs="String">
                <value />
            </setting>
            <setting name="StoreDir6" serializeAs="String">
                <value />
            </setting>
            <setting name="StoreDir7" serializeAs="String">
                <value />
            </setting>
            <setting name="StoreDir8" serializeAs="String">
                <value />
            </setting>
            <setting name="StoreDir9" serializeAs="String">
                <value />
            </setting>
            <setting name="StoreDir10" serializeAs="String">
                <value />
            </setting>
            <setting name="BookMark0" serializeAs="String">
                <value />
            </setting>
            <setting name="BookMark1" serializeAs="String">
                <value />
            </setting>
            <setting name="BookMark2" serializeAs="String">
                <value />
            </setting>
            <setting name="BookMark3" serializeAs="String">
                <value />
            </setting>
            <setting name="BookMark4" serializeAs="String">
                <value />
            </setting>
            <setting name="BookMark5" serializeAs="String">
                <value />
            </setting>
            <setting name="BookMark6" serializeAs="String">
                <value />
            </setting>
            <setting name="BookMark7" serializeAs="String">
                <value />
            </setting>
            <setting name="BookMark8" serializeAs="String">
                <value />
            </setting>
            <setting name="BookMark9" serializeAs="String">
                <value />
            </setting>
            <setting name="StoreDir11" serializeAs="String">
                <value />
            </setting>
            <setting name="StoreDir12" serializeAs="String">
                <value />
            </setting>
            <setting name="StoreDir13" serializeAs="String">
                <value />
            </setting>
            <setting name="StoreDir14" serializeAs="String">
                <value />
            </setting>
            <setting name="StoreDir15" serializeAs="String">
                <value />
            </setting>
            <setting name="StoreDir16" serializeAs="String">
                <value />
            </setting>
            <setting name="ArrowDisplay" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClassificDisplay" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FileInfoDisplay" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CutAndPaste" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CopyInfoDisplay" serializeAs="String">
                <value>True</value>
            </setting>
        </RenameAllocateViewer.Properties.Settings>
    </userSettings>
</configuration>